h1 {
  text-align: center;
}

#container {
  text-align: left;
  display: flex;
  flex-direction: column;
}

#input, #params {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 20px;
  margin: 25px;
  padding: 25px;
}

#input label {
  font-weight: bold;
  margin-top: 10px;
}